<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="edu.eci.pdsw.persistence.mybatisimpl.mappers.BlogMapper">

    <resultMap type='Blog' id='BlogResult'>
        <id property='id' column='id'/>        
        <result property='title' column='title'/>
        <result property='creationDate' column='creation_date'/>
    </resultMap>

    <select id="findByUser" resultMap="BlogResult" parameterType="string">
        SELECT
            b.id,
            b.title,
            b.creation_date
        FROM
            BLOG as b
        <if test="login != null">
            WHERE b.author = #{login}
        </if>
    </select>
    

    
    <delete id="deleteAll">
        delete from BLOG
    </delete>
</mapper>