<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="edu.eci.pdsw.sampleprj.dao.mybatis.mappers.TipoItemMapper">

    <select parameterType="map" id="consultarTiposItems" resultMap="TipoItemResult">
		SELECT * FROM bdprueba.VI_TIPOITEM;
	</select>
	
	<select parameterType="map" id="consultarTipoItem" resultMap="TipoItemResult">
		SELECT * FROM bdprueba.VI_TIPOITEM WHERE id = #{idTipoItem};
	</select>
	
	<insert id='insertTipoItem' parameterType="TipoItem" keyProperty="id">
		INSERT INTO VI_TIPOITEM (id, descripcion) VALUES (#{id}, #{descripcion});
	</insert>
	<resultMap type='TipoItem' id='TipoItemResult'>
		<id property='id' column='id' />
		<result property='descripcion' column='descripcion' />
	</resultMap>
                
</mapper>